$blue: #272f54;
$red: #a22531;

body {
	font-family: "PT Serif", serif;
	color: #fff;

	@media screen and (min-width: 1024px) {
		font-size: 110%;
	}
}

.font-montserrat {
	font-family: "Montserrat", sans-serif;
}

.text-blue {
	color: $blue;
}

.bg-blue {
	background-color: $blue;
}

.text-red {
	color: $red;
}

.bg-red {
	background-color: $red;
}

.bg-black {
	background-color: #000;
}

.banner {
	height: 80vh;
	background-size: cover !important;
	background-position: 75% 50% !important;
	position: relative;

	.main {
		a {
			transition: all 300ms ease-in;

			&:hover {
				background: #fff;
				color: $red !important;
			}
		}
	}

	.logo {
		width: 15rem;
		height: auto;
	}

	&__row {
		position: absolute;
		left: 0;
		right: 0;
		height: 80%;
	}
}

.auth {
	img {
		object-fit: cover;
	}

	.box {
		position: relative;
		height: 15rem;

		@media screen and (min-width: 576px) {
			height: 22rem;
		}

		@media screen and (min-width: 768px) {
			height: 30rem;
		}

		.overlay {
			position: absolute;
			top: 0;
			background-color: rgba(162, 37, 49, 0.5);
			transition: all 300ms ease-in;

			&:hover {
				background-color: rgba(39, 47, 84, 0.5);
			}

			h2 {
				font-size: 2rem;

				@media screen and (min-width: 768px) {
					font-size: 3rem;
				}
			}

			a {
				transition: all 300ms ease-in;

				&:hover {
					background-color: $red !important;
					color: #fff !important;
				}
			}
		}
	}
}

.footer a {
	transition: all 300ms ease-in;
	color: rgba(255,255,255,0.6);

	&:hover {
		color: #fff;
	}
}
