body {
  font-family: "PT Serif", serif;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 110%;
  }
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.text-blue {
  color: #272f54;
}

.bg-blue {
  background-color: #272f54;
}

.text-red {
  color: #a22531;
}

.bg-red {
  background-color: #a22531;
}

.bg-black {
  background-color: #000;
}

.banner {
  height: 80vh;
  background-size: cover !important;
  background-position: 75% 50% !important;
  position: relative;
}

.banner .main a {
  transition: all 300ms ease-in;
}

.banner .main a:hover {
  background: #272f54;
}

.banner .logo {
  width: 15rem;
  height: auto;
}

.banner__row {
  position: absolute;
  left: 0;
  right: 0;
  height: 80%;
}

.auth img {
  object-fit: cover;
}

.auth .box {
  position: relative;
  height: 15rem;
}

@media screen and (min-width: 768px) {
  .auth .box {
    height: 20rem;
  }
}

@media screen and (min-width: 1024px) {
  .auth .box {
    height: 30rem;
  }
}

.auth .box .overlay {
  position: absolute;
  top: 0;
  background-color: rgba(162, 37, 49, 0.5);
  transition: all 300ms ease-in;
}

.auth .box .overlay:hover {
  background-color: rgba(39, 47, 84, 0.5);
}

.auth .box .overlay h2 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .auth .box .overlay h2 {
    font-size: 3rem;
  }
}

.auth .box .overlay a {
  transition: all 300ms ease-in;
}

.auth .box .overlay a:hover {
  background-color: #a22531 !important;
  color: #fff !important;
}

.footer a {
  transition: all 300ms ease-in;
  color: rgba(255, 255, 255, 0.6);
}

.footer a:hover {
  color: #fff;
}
